name: PR Checks
on:
  pull_request:
    branches:
      - "*"
jobs:
  unit-tests:
    name: Unit tests
    uses: lingvano/eas-detox-ci/.github/workflows/unit-tests.yml@master

  e2e-tests:
    needs: unit-tests
    uses: lingvano/eas-detox-ci/.github/workflows/e2e-tests.yml@master
    name: E2E tests
    secrets:
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

  appium-tests:
    # needs: unit-tests
    name: iOS Appium tests
    uses: ./.github/workflows/appium-tests.yml
    with:
      PLATFORM: ios
      DEVICE: "iPhone 11"
    secrets:
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

  # eas-update:
  #   needs: e2e-tests
  #   name: Publish preview with EAS update
  #   uses: lingvano/eas-detox-ci/.github/workflows/eas-update.yml@master
  #   secrets:
  #     EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
